body,
html {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

#page2{
    height: auto;
}

#page2 .carousel .carousel-item{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 30rem;
}

#page3 .card{
    border: none;
}

#page3 .img{
    height: 10rem;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/*  X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #page2{
        height: 100%;
    }
 }

/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }